# Cargo build
**/target

# Cargo config
.cargo

# Profile-guided optimization
/tmp
pgo-data.profdata

# MacOS nuisances
.DS_Store

# Proofs
**/proof-with-pis.json
**/proof-with-io.json

# Env
.env
# Node / Next
**/node_modules
**/.next
web/.env.local

# Forge artifacts
contracts/out
contracts/cache
contracts/broadcast

# provenance experiment
provenance/check-trie/target
provenance/check-trie/Cargo.lock
provenance/pyth-vaa/target
provenance/pyth-vaa/Cargo.lock
